<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get in touch | Interior Chanakya</title>
    <link rel="stylesheet" href="../css/getInTouch.css">
    <link rel="icon" href="../images/fevi.png" type="image/png">
    <script src="https://kit.fontawesome.com/3069a6c3f6.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="line"></div>
        <div class="box">
            <form action="/register" method="post" target="_blank">
                <div class="one partition ">
                    <div class="left">
                        <label class="label" for="name">Name</label>
                        <input type="text" id="name" name="username" placeholder="John Carter">
                        <div class="underline"></div>
                    </div>
                    <div class="right">
                        <label class="label" for="email">Email</label>
                        <input type="text" id="name" name="email" placeholder="xyz@gmail.com">
                        <div class="underline"></div>
                    </div>
                </div>
                <div class="two partition ">
                    <div class="left">
                        <label class="label" for="phone">Phone number</label>
                        <input type="tel" id="name" name="phone" placeholder="(+91)-99999999">
                        <div class="underline"></div>
                    </div>
                    <div class="right">
                        <label class="label" for="subject">Subject</label>
                        <input type="text" id="name" name="subject" placeholder="Ex. Services">
                        <div class="underline"></div>
                    </div>
                </div>
                <div class="three partition ">
                    <label for="message">Message</label>
                    <input type="text" name="message"
                        placeholder="Please describe what services you are interested in....">
                    <div class="underline"></div>
                </div>
                <div class="four partition ">
                    <button type="submit">Send message <i class="fa-solid fa-arrow-right"></i></button>
                </div>

            </form>

        </div>
        <div class="line"></div>
    </div>
</body>

</html>
